<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>오픈 디자인</title>
</head>
<body>
<table width="1400" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="3" height="91" bgcolor="#ffffff"></td>
	</tr>
	<tr>
		<td width="58" bgcolor="#ffffff"></td>
		<td bgcolor="#f0efef">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td colspan="3"><img src="${globalHost}/resources/image/mail/logo.gif"></td>
				</tr>
				<tr>
					<td colspan="3" height="20"></td>
				</tr>
				<tr>
					<td width="60"></td>
					<td style="font-size:24px;color:#414141;font-weight:bold">오픈 디자인 비밀번호 발송 메일 입니다.<br>
					해당 메일이 본인이 요청한 메일이 아니라면, 개인정보 보호를 위해 반드시 비밀번호를 재변경 해주세요. <br><br>
					회원님께서 등록하신 비밀번호는 [<b>${userPassword}</b>] 입니다.<br><br>
					오픈 디자인<a href="${globalHost}" style="color:#035be0">바로가기</a> </td>
					<td width="60"></td>
				</tr>
				<tr>
					<td colspan="3" height="80"></td>
				</tr>
				<tr>
					<td colspan="3"><img src="${globalHost}/resources/image/mail/footer.gif"></td>
				</tr>
			</table>
		</td>
		<td width="58" bgcolor="#ffffff"></td>
	</tr>
	<tr>
		<td colspan="3" height="106" bgcolor="#ffffff"></td>
	</tr>
</table>
</body>
</html>